<div id="detalheAlunoJquery" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Exclusão de Aluno</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <label>Selecione o aluno</label>
                            <select id="slcDetalheAluno" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <input type="text" disabled="disabled" name="Nome" maxlength="20" class="form-control" placeholder="Nome" id="nmDetalhesAlunoJquery" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" disabled="disabled" name="Sobrenome" maxlength="20" class="form-control" placeholder="Sobrenome" id="sobrenomeDetalhesAlunoJquery" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <input type="text" disabled="disabled" name="CPF" class="form-control" placeholder="CPF" id="cpfDetalhesAlunoJquery" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" disabled="disabled" name="RG" class="form-control" placeholder="Número do RG" id="rgDetalhesAlunoJquery" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <input type="datetime" disabled="disabled" name="dtNascimento" class="form-control" placeholder="Data de Nascimento" id="dtNascDetalhesAlunoJquery" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <input type="text" disabled="disabled" name="escolaAluno" class="form-control" placeholder="Escola" id="detalhesEscolaAluno" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

