<div id="excluirAlunoJquery" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Exclusão de Aluno</h4>
            </div>
            <div class="modal-body">
                <form id="frmExcluirAlunoJquery" method="post">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <label>Selecione o aluno</label>
                                <select id="slcExcluirAluno" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
